<div class="page">
  <section class="card">
    <form class="form-login">
      <h2 class="form-login-heading">ログイン</h2>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <br>
      <button class="button-login" type="button" (click)= "submitLogin()">LOGIN</button>
    </form>
    <a routerLink="/account/sign-up" class="login-link">アカウントを作る</a>
  </section>
</div>
