<div class="page">
  <section class="card">
    <form class="form-signup">
      <h2 class="form-signup-heading">アカウント作成</h2>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <input type="password" id="confirmationPassword" class="form-control" placeholder="Password Confirmation"
        required>
      <br>
      <button class="button-sign" type="submit">SIGN UP</button>
    </form>
    <a routerLink="/account/login" class="signup-link">ログインする</a>
  </section>
</div>
